<!--Accordion wrapper-->
<div class="accordion md-accordion container my-5" id="accordionEx" role="tablist" aria-multiselectable="true">
    <h1 class="mb-2" id="duvidas">Dúvidas Frequentes</h1>
    <!-- Accordion card -->
    <div class="card">

        <!-- Card header -->
        <div class="card-header pergunta" role="tab" id="headingOne1">
            <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                aria-controls="collapseOne1">
                <h5 class="mb-0">
                    Como vender/trocar <i class=" link fas fa-angle-down rotate-icon"></i>
                </h5>
            </a>
        </div>

        <!-- Card body -->
        <div id="collapseOne1" class="collapse" role="tabpanel" aria-labelledby="headingOne1"
            data-parent="#accordionEx">
            <div class="card-body">
                Crie uma conta <a class="font-weight-bold">aqui</a>;<br>
                Cadastre seu produto <a class="font-weight-bold">aqui</a>;<br>
                Tire uma fotos bem legais do produto;<br>
                Coloque um nome no produto que tem tudo haver com ele;<br>
                Coloque uma descrição bem detalhada do produto, o máximo que puder hein.<br>
                Coloque um preço (justo) em seu produto;<br>
                Selecione se aceita venda e/ou troca;<br>
                Quando alguém clicar em “comprar/trocar” em seu produto, entre em contato com o comprador e combine
                um local para efetuar a venda.
            </div>
        </div>

    </div>
    <!-- Accordion card -->

    <!-- Accordion card -->
    <div class="card">

        <!-- Card header -->
        <div class="card-header" role="tab" id="headingTwo2">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
                aria-expanded="false" aria-controls="collapseTwo2">
                <h5 class="mb-0">
                    Como comprar? <i class="fas fa-angle-down rotate-icon"></i>
                </h5>
            </a>
        </div>

        <!-- Card body -->
        <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
            data-parent="#accordionEx">
            <div class="card-body">
                Crie uma conta <a class="font-weight-bold">aqui</a><br>
                Procure o(s) item(ns) de seu interesse e clique em comprar;<br>
                Você terá contato diretamente com o vendedor;<br>
                Aí é só combinar com ele o melhor local para se encontrarem, você paga o produto e ele te entrega ;)
            </div>
        </div>

    </div>
    <!-- Accordion card -->

    <!-- Accordion card -->
    <div class="card">

        <!-- Card header -->
        <div class="card-header" role="tab" id="headingThree3">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
                aria-expanded="false" aria-controls="collapseThree3">
                <h5 class="mb-0">
                    Como trocar? <i class="fas fa-angle-down rotate-icon"></i>
                </h5>
            </a>
        </div>

        <!-- Card body -->
        <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3"
            data-parent="#accordionEx">
            <div class="card-body">
                Crie uma conta <a class="font-weight-bold">aqui</a><br>
                Procure o(s) item(ns) de seu interesse caso o anunciante aceite trocar seu o produto, estará
                liberado o botão “Trocar”, só clicar nele;<br>
                Você terá contato diretamente com o vendedor;
            </div>
        </div>

    </div>
    <!-- Accordion card -->

    <!-- Accordion card -->
    <div class="card">

        <!-- Card header -->
        <div class="card-header" role="tab" id="headingFour4">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseFour4"
                aria-expanded="false" aria-controls="collapseFour4">
                <h5 class="mb-0">
                    Por que só posso colocar 2 produtos gratuitamente? <i class="fas fa-angle-down rotate-icon"></i>
                </h5>
            </a>
        </div>

        <!-- Card body -->
        <div id="collapseFour4" class="collapse" role="tabpanel" aria-labelledby="headingFour4"
            data-parent="#accordionEx">
            <div class="card-body">
                Para evitarmos que lojas encham nossa loja com produtos e o seu simplesmente suma.<br> Para isso
                cobramos uma pequena taxa, que ajuda a nos manter online.
            </div>
        </div>

    </div>
    <!-- Accordion card -->

    <!-- Accordion card -->
    <div class="card">

        <!-- Card header -->
        <div class="card-header" role="tab" id="headingFive5">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseFive5"
                aria-expanded="false" aria-controls="collapseFive5">
                <h5 class="mb-0">
                    Porque não tem como pagar pelos produtos online? <i class="fas fa-angle-down rotate-icon"></i>
                </h5>
            </a>
        </div>

        <!-- Card body -->
        <div id="collapseFive5" class="collapse" role="tabpanel" aria-labelledby="headingFive5"
            data-parent="#accordionEx">
            <div class="card-body">
                Nossa intenção é que vocês façam a venda/troca entre vocês, além do más, se colocarmos um módulo
                de pagamentos teremos um custo e teremos que repassar esse gasto para vocês, o que não queremos,
                poxa, já pagamos tantos impostos e taxas, bora simplificar :D.
                Também queremos que vocês aproveitem essa oportunidade para saírem um pouco de casa e conhecerem
                novas pessoas, daí podem surgir grandes amizades ;)
            </div>
        </div>

    </div>
    <!-- Accordion card -->

    <!-- Accordion card -->
    <div class="card">

        <!-- Card header -->
        <div class="card-header" role="tab" id="headingSix6">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseSix6"
                aria-expanded="false" aria-controls="collapseSix6">
                <h5 class="mb-0">
                    Dicas: <i class="fas fa-angle-down rotate-icon"></i>
                </h5>
            </a>
        </div>

        <!-- Card body -->
        <div id="collapseSix6" class="collapse" role="tabpanel" aria-labelledby="headingSix6"
            data-parent="#accordionEx">
            <div class="card-body">
                Marque esse encontro em lugares públicos;<br>
                Ofereça os produtos que você tem disponível, envie os link dos produtos que deseja oferecer
                para que o anunciante possa decidir, assim aumentando as chances de concluírem a troca.
                Aí é só combinar com ele o melhor local para se encontrarem, você paga o produto e ele te entrega
                ;)<br>
                Tente ir acompanhado;<br>
                Se for menor de idade, vá acompanhado com seus responsáveis;
            </div>
        </div>

    </div>
    <!-- Accordion card -->

    <!-- Accordion card -->
    <div class="card">

        <!-- Card header -->
        <div class="card-header" role="tab" id="headingSeven7">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseSeven7"
                aria-expanded="false" aria-controls="collapseSeven7">
                <h5 class="mb-0">
                    Importante: <i class="fas fa-angle-down rotate-icon"></i>
                </h5>
            </a>
        </div>

        <!-- Card body -->
        <div id="collapseSeven7" class="collapse" role="tabpanel" aria-labelledby="headingSeven7"
            data-parent="#accordionEx">
            <div class="card-body">
                Faça com os outros o que não gostaria que fizessem com você, seja honesto em seus anúncios e
                negociações, se o produto tem algum defeito ou está quebrado, fala isso no anúncio e reforce o em
                suas negociações.
                Se você for denunciado, a situação será analisada e serão tomadas as devidas providências, como
                bloqueio do site ou denúncia por fraude, e não queremos isso não é?!
                Mais empatia e amor ao próximo por favor.
            </div>
        </div>

    </div>
    <!-- Accordion card -->

    <!-- Accordion card -->
    <div class="card">

        <!-- Card header -->
        <div class="card-header" role="tab" id="headingEight8">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseEight8"
                aria-expanded="false" aria-controls="collapseEight8">
                <h5 class="mb-0">
                    Problemas com meu Cadastro / Cadastro de produtos <i class="fas fa-angle-down rotate-icon"></i>
                </h5>
            </a>
        </div>

        <!-- Card body -->
        <div id="collapseEight8" class="collapse" role="tabpanel" aria-labelledby="headingEight8"
            data-parent="#accordionEx">
            <div class="card-body">
                Caso tenha problemas com seu cadastro ou com o cadastro de algum produto, envie um e-mail para
                <a class="font-weight-bold">trocageek@gmail.com</a>.
                Respondemos em até 48hs.
            </div>
        </div>

    </div>
    <!-- Accordion card -->
</div>
<!-- Accordion wrapper -->