

/* Início do Main */
/*
#input{
    max-width: 800px;
    background-color: #5C5099;
    padding: 35px 35px;
    border: 1px solid #414141;
    margin: 100px auto !important;
    text-align: center;
 }
 .alertColor {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: #fff;
 }

 #input h1 {
    font-family: 'Marvel', sans-serif;
    margin-bottom: 40px;
 }

 #btnEnviar:hover{
     background-color: rgba(0, 0, 0, 0.5);
 }
 
 #btnEnviar {
     width: 160px;
     font-family: 'Press Start 2P', cursive;
     font-size: 14px;
     background-color: #e9316e;
     border: 1px solid #5c5099;
     margin-top: 20px;

 }
 
 #input label {
     color: #ffffff;
     font-family: 'Marvel', sans-serif;
     font-size: 22px;
     font-weight: 600;
 }

.devs h1{
   text-align: center;

}

.container h1 {
    text-align: center;
    margin: 30px auto 15px auto;
    color: white;

}
.container p{
    text-align: center;
    color:white;
    border: 2px solid  #696969;
}*/
