@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css?family=Marvel&display=swap');

body{

    background-image: url('./assets/img/bodyBackGround.png');
    background-repeat: no-repeat;
    background-size: cover;
}