<div class="conteiner d-flex">

    <div class="wrapper">

        <!-- Sidebar -->

        <nav id="sidebar">
            <div class=" pb-5">
                <h1 class="mb-3 text-center"><img src="../../assets/img/logo-white.png" class="img-fluid logo mt-5"
                        alt="Logo">
                </h1>
            </div>

            <ul class="list-unstyled components">

                <li class=" w-100">
                    <button class="btn btn-wrapper btn-light justify-content-center liwrapper"
                        routerLink="/usuarios">Minha Área</button>
                </li>
                <li class="">
                    <button class="btn btn-wrapper btn-light justify-content-center liwrapper"
                        [routerLink]="['/usuarios/editar',idUsuario]">Alterar
                        Cadastro</button>
                </li>
                <li class="">
                    <button class="btn btn-wrapper btn-light justify-content-center liwrapper"
                        [routerLink]="['/cadastrar-produto']">Cadastrar
                        Produtos</button>
                </li>

                <li class="">
                    <button class="btn btn-wrapper btn-light justify-content-center liwrapper"
                        [routerLink]="['/usuarios/meusprodutos']">Meus
                        Produtos</button>
                </li>

                <li class="">
                    <button class="btn btn-wrapper btn-light justify-content-center liwrapper" routerLink="">Minhas
                        Negociações</button>
                </li>

            </ul>

        </nav>

    </div>

    <div class="card w-100">
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <h1 class="">Meus produtos </h1>
            </div>
            <div *ngIf = 'apagado'>
                <div class="alert alert-success" role="alert">
                    Produto apagado com sucesso!
                </div>
              </div>

            <section class="d-flex justify-content-around flex-wrap my-3">
                <div class="card text-center my-4 mx-3 caixas" *ngFor="let produto of listaProdutos">
                    <div class="card-body">
                        <div>
                            <h4>{{produto.nome}}</h4>
                        </div>
                        <hr>
                        <div>
                            <img class="img-fluid img" src="{{produto.urlImg}}" alt="">
                        </div>
                        <hr>
                        <div>
                            <span>Preço: {{produto.preco | currency:"BRL" }}</span>
                        </div>
                        <hr>
                        <div *ngIf="produto.ativo">
                            Ativo: &#9989;
                        </div>
                        <div *ngIf="!produto.ativo">
                            Ativo: &#10060;
                        </div>
                        <hr>
                        <div class="d-flex justify-content-between">
                            <button class="btn btn-success">Editar</button>
                            <button class="btn btn-danger" (click)="apagarProduto(produto.codigo)">Apagar</button>
                        </div>
                    </div>
                </div>
            </section>





        </div>
    </div>