<div class="enviar">
    <div class="container container-contato mb-5">
        <h1 class="mt-5 text-center">
            <img class="img-fluid logo mt-5" src="../../assets/img/icon-login.png" alt="Logo">
        </h1>
        <div class="mx-auto px-3 tamanhoinput">
            <div class="text-light text-center mt-4">
                <h2 class="contato">Fale Conosco</h2>
            </div>
            <div class="pb-5">
                <div class="form-group">
                    <label for="nomeCompleto">Nome Completo</label>
                    <input type="text" class="form-control mb-2" id="nomeCompleto" aria-describedby="emailHelp"
                        placeholder="Nome Completo">
                    <div style="visibility: hidden;" class="alert alert-danger alertColor" role="alert-nome"
                        id="alert-nome">
                    </div>
                    <label for="emailValid">Endereço de email</label>
                    <input type="email" class="form-control mb-2" id="emailValid" aria-describedby="emailHelp"
                        placeholder="Email">
                    <div style="visibility: hidden;" class="alert alert-danger alertColor" role="alert-email"
                        id="alert-email">
                    </div>
                    <label for="telValid">Telefone</label>
                    <input type="text" class="form-control mb-2" id="telValid" placeholder="Telefone"
                        onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="11">
                    <div style="visibility: hidden;" class="alert alert-danger alertColor" role="alert-tel"
                        id="alert-tel">
                    </div>
                    <label for="textArea">Mensagem</label>
                    <textarea class="form-control mb-5" id="textArea" placeholder="Escreva aqui sua mensagem"
                        rows="5"></textarea>
                    <div style="visibility: hidden;" class="alert alert-danger alertColor" role="alert-textArea"
                        id="alert-textArea">
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-primary btn-block botao" id="btnEnviar">Enviar</button>
                </div>
            </div>
        </div>
    </div>
</div>