*{
    font-family: 'Libre Franklin', sans-serif;
}

label{
    margin: 0;
    color: #232323;
}

.enviar{
    background: url(../../assets/img/bg-enviar.jpg) center center no-repeat;
    width: 100%;
    padding: 35px 15px;
    margin: 0 !important;
    background-size: cover;
}

.alert-danger {
    display: none;
}

.container{
    background-color: #232323;
    border-radius: 25px;
}

.container-contato{
    max-width: 1024px;
    max-width: 500px;
}

.tamanhoinput{
    max-width: 600px;
}

.logo{
    max-width: 300px;
}

.contato{
    font-size: 24px;
    color: #c5c5c5;
    margin-bottom: -5px;
    font-weight: 400;
}

.botao{
    background-color: #05a4c4;
    color: #fff;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: 600;
}

.botao:hover{
    background-color:#ed3263;
    color: #fff;
}

.botaoNoturno {
    position: fixed;
    top: 30%;
    right: 20px;
    height: 50px;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.5s;
}
.botaoNoturno:hover {
    opacity: 1;
}

@media screen and (max-width:500px) {
    .botaoNoturno {
        height: 40px;
        top: 200px;
    }
}

body {
    transition: 0.4s;;
}