* {
  font-family: 'Libre Franklin', sans-serif;
}

body {
  background-color: #DBDEE3 !important;
}

.bg-color {
  background-color: #dbdee3;
}

h2 {
  font-size: 26px;
}

h4 {
  font-weight: normal;
}

.preco {
  font-size: 24px;
}

.publicado {
  font-size: 15px;
}

.descricaoProduto {
  font-size: 16px;
}

.caixas {
  padding: 55px 0;
  border: none !important;

}

.card-body {
  justify-content: center;
}

.card-content {
  width: 100%;
}

@media(max-width:990px) {
  .card-content {
    flex-direction: column;
    align-items: center;
  }

  .infoproduto {
    max-width: initial !important;
    width: 80% !important;
    margin-top: 35px;
  }
}

@media(min-width:991px) {
  .limitimg {
    min-width: 400px;
  }
}

.limitimg {
  display: flex;
  place-self: center;
  background: #fff;
  margin: 15px;
  padding: 35px 0 !important;
  height: 100%;
  border-radius: 15px;
  box-shadow: 0 0 10px 0 rgba(186, 186, 186, 0.8);
}

img {
  max-width: 300px;
  max-height: 350px;
  width: auto;
  height: auto;
}

h2 {
  font-weight: 900;
  font-size: 32px;
  font-family: 'Libre Franklin', sans-serif;
}

strong {
  font-weight: 700;
  font-size: 18px;
  font-family: 'Libre Franklin', sans-serif;
  color: #555;
}

.infoproduto {
  width: 100%;
  padding: 35px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 10px 0 rgba(186, 186, 186, 0.8);
}

.verMais {
  background-color: #05a4c4;
  padding: 8px 35px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #fff;
  transition: color .25s ease, background .25s ease;
}

.verMais:hover {
  background-color: #ed3263;
}

.verMaisNoturno {
  background-color: #5C5099;
  padding: 8px 35px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #fff;
  transition: color .25s ease, background .25s ease;
}

.verMaisNoturno:hover {
  background-color: #2b215e;
}


@media only screen and (max-width: 737px) {

  h2 {

    font-size: 1.5em;

  }

  h3 {
    font-size: 1.25em;

  }

  h4 {
    font-size: 1em
  }

  .infoproduto {
    width: 100% !important;
  }

}


@media screen and (max-width:500px) {
  .divBtnNoturno{

    height: 40px;
    top:200px;
}

  .botaoNoturno {
    height: 40px;
    top: 200px;
  }
}

.botaoNoturno {
  position: fixed;
  top: 30%;
  right: 20px;
  height: 50px;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.5s;
}

.botaoNoturno:hover {
  opacity: 1;
}
