<div class="conteiner my-3">

    <div class="card-body border border-dark my-4 mx-3 caixas">

        <div class="d-flex d-flex justify-content-around flex-wrap">


            <div class="justify-content-center mx-3 my-3">
                <img class="img-fluid img" src="{{produto.urlImg}}" alt="">
            </div>

            <div class="infoproduto justify-content-around w-50">
                <div class="py-2">
                    <h1>{{produto.nome}}</h1>
                </div>

                <div class="py-2">
                    <h2> <span>Valor: R$ {{produto.preco}}</span> </h2>
                </div>

                <div class="py-2">
                    <h2><span>Publicado por: {{produto.idUsuario.nome}}</span></h2>
                </div>

                <div class="py-2">
                    <h2><small>Data de publicação: {{produto.date | date: 'dd/MM/yyyy'}}
                            ás {{produto.date | date: 'HH:mm'}}


                        </small></h2>
                </div>

                <div class="d-flex flex-wrap">
                    <div class="d-flex py-2 mr-5">
                        <button class="btn negociar" [routerLink]="['/negociacao', produto.codigo]">Negociar</button>
                    </div>

                    <div class="d-flex py-2">
                        <button class="btn negociar" [routerLink]="['/home']">Voltar</button>
                    </div>

                </div>

                <div class="py-2">

                    <div class="py-2">
                        <h2>Descrição do Produto</h2>
                    </div>


                    <div>
                        <div>
                            <h4>{{produto.descricao}}</h4>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>


</div>