<footer id='footer' class="page-footer font-small mw-100">
    <div class="rodape container-fluid text-center">
        <div class="row">
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-md mb-md-0 mt-5">
               
                <ul class="list-unstyled txtFooter list d-flex justify-content-around">
                    <li class="nav-item">
                        <a class="nav-link" routerLink='/faq'>Dúvidas Frequentes <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink='/sobre-nos'>Sobre Nós <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink='contato'>Fale Conosco <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink='termos-de-uso'>Termos de Uso <span class="sr-only"></span></a>
                    </li>

                </ul>


            </div>
        </div>

        <div>
            <ul class="icons d-flex justify-content-center list-unstyled">
                <li><a href="#" class="icoFacebook" title="Facebook">
                        <fa-icon [icon]="faFacebook" class="faFacebook fa-2x px-2"></fa-icon>
                    </a>
                </li>
                <li><a href="#" class="icoInstagram" title="Instagram">
                        <fa-icon [icon]="faInstagram" class="faInstagram fa-2x px-2"></fa-icon>
                    </a>
                </li>
                <li><a href="#" class="icoGithubAlt" title="GithubAlt">
                        <fa-icon [icon]="faGithubAlt" class="faGithubAlt fa-2x px-2"></fa-icon>
                    </a>
                </li>
            </ul>
        </div>

    </div>
    <div class="copyright footer-copyright text-center py-3">
        <p> Desenvolvido por Generation</p>
    </div>
</footer>