.rodape{
    background-color: #000205;
}

a{
    color: #bebebe;
    text-decoration: none;
}


.list{
    font-size: 16px !important;
}

a:hover{

    color: #2E284C!important;
    
}

.copyright{

    font-size: 12px;
    background-color: black;
    color: #bebebe;
}

.icons{

    display: inline;
    margin: 0;
    padding: 5px;
}

.faFacebook, .faGithubAlt, .faInstagram{
    
    color: white;
    padding: 0, 5px;
}

.faFacebook:hover{

    color: #2E284C !important;
}

.faGithubAlt:hover{

    color: #2E284C !important;
}

.faInstagram:hover{

    color: #2E284C !important;

}

/*Media Query*/

@media(max-width:768px){
    .list{
        display: flex;
        flex-direction: column;   
    }

.icons{

display: inline;
justify-content: center;

    }
}
