<div class="conteiner d-flex">


    <div class="wrapper">

        <!-- Sidebar -->

        <nav id="sidebar">
            <div class=" pb-5">
                <h1 class="mb-3 text-center"><img src="../../assets/img/logo-white.png" class="img-fluid logo mt-5"
                        alt="Logo">
                </h1>
            </div>

            <ul class="list-unstyled components">

                <li class=" w-100">
                    <button class="btn btn-wrapper justify-content-center liwrapper" [class.btn-dark]="modoNoturno"
                        [class.btn-light]="!modoNoturno" routerLink="/usuarios">Minha Área</button>
                </li>
                <li class="">
                    <button class="btn btn-wrapper justify-content-center liwrapper" [class.btn-dark]="modoNoturno"
                        [class.btn-light]="!modoNoturno" [routerLink]="['/usuarios/editar', idUsuario]">Alterar
                        Cadastro</button>
                </li>
                <li class="">
                    <button class="btn btn-wrapper justify-content-center liwrapper" [class.btn-dark]="modoNoturno"
                        [class.btn-light]="!modoNoturno" [routerLink]="['/usuarios/alterarsenha', idUsuario]">Alterar
                        Senha</button>
                </li>
                <li class="">
                    <button class="btn btn-wrapper justify-content-center liwrapper" [class.btn-dark]="modoNoturno"
                        [class.btn-light]="!modoNoturno" routerLink='/cadastrar-produto'>Cadastrar
                        Produtos</button>
                </li>

                <li class="">
                    <button class="btn btn-wrapper justify-content-center liwrapper" [class.btn-dark]="modoNoturno"
                        [class.btn-light]="!modoNoturno" routerLink='/usuarios/meusprodutos'>Meus
                        Produtos</button>
                </li>

                <li class="">
                    <button class="btn btn-wrapper justify-content-center liwrapper" [class.btn-dark]="modoNoturno"
                        [class.btn-light]="!modoNoturno" routerLink='/minhas-negociacoes'>Minhas
                        Negociações</button>
                </li>

            </ul>

        </nav>

    </div>


    <div class="d-flex justify-content-center mt-5 w-100  alterarCadastroArea">

        <div class="formulario pb-5">

            <h1 class="text-center ">Minhas Vendas</h1>
            <hr>
            <section class="d-flex justify-content-around flex-wrap my-3">
                <div class="card text-center my-4 mx-3 caixas" *ngFor="let vendas of listaVendas">
                    <div class="card-body">
                        <div>
                            <h4>Venda Nº {{vendas.idNegociacao}}</h4>
                        </div>
                        <hr>
                        <div>
                            <span>Produto: {{vendas.idProduto.nome }}</span>
                        </div>
                        <hr>
                        <div>
                            <span>Valor: {{vendas.idProduto.preco | currency:"BRL" }}</span>
                        </div>
                        <hr>
                        <div>
                            <span>Interessado: {{vendas.idComprador.nome}}</span>
                        </div>
                        <hr>
                        <div>
                            <span>Início Negociacao: {{vendas.dataInicioNegociacao | date: 'dd/MM/yyyy'}}
                                ás {{vendas.dataInicioNegociacao| date: 'HH:mm'}} </span>
                        </div>
                        <hr>
                        <div>
                            <span>Status: {{vendas.statusNegociacao}} </span>
                        </div>
                        <hr>
                        <button class="btn verMais" [routerLink]="['/negociacao-detalhe', vendas.idNegociacao]">Ver
                            mais</button>
                    </div>
                </div>
            </section>


            <hr>


            <h1 class="text-center ">Minhas Compras</h1>
            <hr>
            <section class="d-flex justify-content-around flex-wrap my-3">
                <div class="card text-center my-4 mx-3 caixas" *ngFor="let compras of listaCompras">
                    <div class="card-body">
                        <div>
                            <h4>Compra Nº {{compras.idNegociacao}}</h4>
                        </div>
                        <hr>
                        <div>
                            <span>Produto: {{compras.idProduto.nome }}</span>
                        </div>
                        <hr>
                        <div>
                            <span>Valor: {{compras.idProduto.preco | currency:"BRL" }}</span>
                        </div>
                        <hr>
                        <div>
                            <span>Vendedor: {{compras.idVendedor.nome}}</span>
                        </div>
                        <hr>
                        <div>
                            <p>Início: {{compras.dataInicioNegociacao | date: 'dd/MM/yyyy'}}
                                ás {{compras.dataInicioNegociacao| date: 'HH:mm'}} </p>
                            <p *ngIf="compras.dataFinalNegociacao != null">Final:
                                {{compras.dataFinalNegociacao | date: 'dd/MM/yyyy'}}
                                ás {{compras.dataFinalNegociacao| date: 'HH:mm'}} </p>
                        </div>
                        <hr>
                        <div>
                            <span>Status: {{compras.statusNegociacao}} </span>
                        </div>
                        <hr>
                        <button class="btn verMais" [routerLink]="['/negociacao-detalhe', compras.idNegociacao]">Ver
                            mais</button>
                    </div>
                </div>
            </section>
        </div>
    </div>

</div>