<div [ngStyle]="{'background-color': modoNoturno == true ? corBodyNoturno : corBodyNaoNoturno}"
  class="conteiner d-flex transition">


  <div [class.wrapperNoturno]="modoNoturno" class="wrapper">

    <!-- Sidebar -->

    <nav id="sidebar">
      <div class=" pb-5">
        <h1 class="mb-3 text-center"><img src="../../assets/img/logo-white.png" class="img-fluid logo mt-5" alt="Logo">
        </h1>
      </div>

      <ul class="list-unstyled components">

        <li class=" w-100">
          <button class="btn btn-wrapper justify-content-center liwrapper" [class.btn-dark]="modoNoturno"
            [class.btn-light]="!modoNoturno" routerLink="/usuarios">Minha Área</button>
        </li>
        <li class="">
          <button class="btn btn-wrapper justify-content-center liwrapper" [class.btn-dark]="modoNoturno"
            [class.btn-light]="!modoNoturno" [routerLink]="['/usuarios/editar', idUsuario]">Alterar
            Cadastro</button>
        </li>
        <li class="">
          <button class="btn btn-wrapper justify-content-center liwrapper" [class.btn-dark]="modoNoturno"
            [class.btn-light]="!modoNoturno" [routerLink]="['/usuarios/alterarsenha', idUsuario]">Alterar
            Senha</button>
        </li>
        <li class="">
          <button class="btn btn-wrapper justify-content-center liwrapper" [class.btn-dark]="modoNoturno"
            [class.btn-light]="!modoNoturno" routerLink='/cadastrar-produto'>Cadastrar
            Produtos</button>
        </li>

        <li class="">
          <button class="btn btn-wrapper justify-content-center liwrapper" [class.btn-dark]="modoNoturno"
            [class.btn-light]="!modoNoturno" routerLink='/usuarios/meusprodutos'>Meus
            Produtos</button>
        </li>

        <li class="">
          <button class="btn btn-wrapper justify-content-center liwrapper" [class.btn-dark]="modoNoturno"
            [class.btn-light]="!modoNoturno" routerLink='/minhas-negociacoes'>Minhas
            Negociações</button>
        </li>

      </ul>

    </nav>

  </div>




  <div [ngStyle]="{'color': modoNoturno == true ? corFontesNoturno : 'black'}" class="container mt-5">

    <div class="formulario pb-5">

      <h1 class="text-center ">Minhas Vendas</h1>

      <section class=" bg-warning d-inline flex-nowrap my-3">

        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">IDº Venda</th>
                <th scope="col">Produto</th>
                <th scope="col">Preço</th>
                <th class="statusmobile" scope="col">Status</th>
                <th scope="col">Mais Informações</th>
              </tr>
            </thead>
            <tbody *ngFor="let vendas of listaVendas">
              <tr>

                <th scope="row">{{vendas.idNegociacao}}</th>
                <td>{{vendas.idProduto.nome }}</td>
                <td>{{vendas.idProduto.preco | currency:"BRL" }}</td>
                <td class="statusmobile">{{vendas.statusNegociacao}}</td>
                <td> <button class="btn verMais" [routerLink]="['/negociacao-detalhe', vendas.idNegociacao]">Ver
                    mais</button></td>
              </tr>
            </tbody>
          </table>
        </div>


        <br><br><br>

        <h1 class="text-center ">Minhas Compras</h1>


        <section class=" bg-warning d-inline flex-nowrap my-3">

          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">IDº Compra</th>
                  <th scope="col">Produto</th>
                  <th scope="col">Preço</th>
                  <th class="statusmobile" scope="col">Status</th>
                  <th scope="col">Mais Informações</th>
                </tr>
              </thead>

              <tbody *ngFor="let compras of listaCompras">

                <tr>

                  <th scope="row">{{compras.idNegociacao}}</th>
                  <td>{{compras.idProduto.nome }}</td>
                  <td>{{compras.idProduto.preco | currency:"BRL" }}</td>
                  <td class="statusmobile">{{compras.statusNegociacao}}</td>
                  <td><button class="btn verMais" [routerLink]="['/negociacao-detalhe', compras.idNegociacao]">Ver
                      mais</button></td>

                </tr>


              </tbody>
            </table>
          </div>
        </section>
      </section>

      <!-- <img src="../../assets/img/botaoNoturno.png" class="botaoNoturno" (click)="modoNoturnoFunction()"
        title="Modo noturno" alt="botão para ativar modo noturno"> -->
    </div>

    <div *ngIf="!modoNoturno">
      <img src="../../assets/img/botao_noturno.png" class="botaoNoturno" (click)="modoNoturnoFunction()"
        title="Modo noturno" alt="botão para ativar modo noturno">
    </div>
    <div *ngIf="modoNoturno">
      <img src="../../../assets/img/botao_noturno-ativo.png" class="botaoNoturno" (click)="modoNoturnoFunction()"
        title="Modo noturno" alt="botão para ativar modo noturno">
    </div>
  </div>



</div>