*{
    font-family: 'Libre Franklin', sans-serif;
}

.wrapper {
    display: flex;
    width: 25%;
    background-color: #F8F9FA;
  
}

#sidebar {
    width: 100%;
    height: 100%;
    color: black;

}

.liwrapper{

    width: 100%;
    
    margin: none;
    height: 100%;

}

.btn-wrapper{

    padding-top: 20px !important;
    padding-bottom: 20px !important;

}


.logo{
    width: 80%;
    height: 80%;
}


.card-body{
    width: 300px;
}

.caixas{
    border: none;
    box-shadow: 0px 0px 10px 2px #dbdbdb;
    transition: box-shadow 0.3s;
    background-color: #f1f0f0;
}

.caixas:hover{
    box-shadow: 0px 0px 20px 12px #dbdbdb;
}

.verMais{
    background-color: #05a4c4;
    color: #fff !important
}

.verMais:hover{
    background-color: #ed3263;
}