/* @import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');

*{
    font-family: 'Libre Franklin', sans-serif;
}

.navbar{
    flex-wrap: nowrap !important;
}

.cabecalho{
    background-color: #232323;
}

a{
    text-decoration: none;
}

.pesquisar{
    background-color: #05a4c4;
    color: #fff;

}

.pesquisa{
    flex-wrap: nowrap !important;
    margin-right: .5rem;

}

.pesquisar:hover{
   background-color:#ed3263;
}

.menuNav li a{
    color: #c5c5c5;
}

.menuNav li a:hover{
    color: #ed3263;
}

.dropdown-menu{
    background-color: #232323;
}

.dropdown-menu a{
    background-color: #232323;
}

.dropdown-menu a:hover{
    color: #ed3263 !important;
}

.botaocadastrar{
    background-color: #05a4c4;
    color: #fff !important
}

.botaocadastrar:hover{
    background-color:#ed3263;
} */

/* botão Menu Hamburguer */
/* .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(5, 164, 196, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

  }
  
  .navbar-toggler {
    border-color:#05a4c4;
  }  */
/* FIM botão Menu Hamburguer */

/* Media Query para ativar o Menu Hamburguer */
/* @media(min-width:992px){
    .desktop-collapse{
        flex-basis: initial; 
        flex-grow: initial;
    }

    .minhainfo{
        display: none;
    }

} */
/* Fim da Media Query que ativa o Menu Hamburguer */

/* Media para ordenar os elementos */
/* @media(max-width: 992px) {
   
    .menu{
        display: flex;
        flex-direction: row;
    }

    .logo{
        order: 1;
    }
    .pesquisa{
        order: 2;
    }
    .hamburguer{
        order: 3;
    }
 
} */
/* Altera o logo no desktop e mobile */
/* @media (max-width: 768px){
    .logo-desktop{
        display: none;
    }

}

@media (min-width: 769px){
    .logo-mobile{
        display: none;
    }
    
}

@media (max-width: 768px){
    .pesquisa input[type="search"]{
        margin-right: .5rem!important;
    }
} */

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');

*{
    font-family: 'Libre Franklin', sans-serif;
}

a{
    text-decoration: none;
}

.cabecalho{
    background-color: #232323;
}

.espaco{
    margin-right: 30px;
}

.pesquisar{
    margin: 0 9px 0 3px;
    background-color: #05a4c4;
    color: #fff;

}

.pesquisar:hover{
   background-color:#ed3263;
}

.menuNav li a{
    color: #c5c5c5;
}

.menuNav li a:hover{
    color: #ed3263;
}

.dropdown-menu{
    background-color: #232323;
}

.dropdown-menu a{
    background-color: #232323;
}

.dropdown-menu a:hover{
    color: #ed3263 !important;
}

.botaocadastrar{
    background-color: #05a4c4;
    color: #fff !important;
    
}

.botaocadastrar:hover{
    background-color:#ed3263;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(5, 164, 196, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

  }

  .navbar-toggler {
    border-color:#05a4c4;
  }

  /* Media Query para ativar o Menu Hamburguer
@media(min-width:992px){
    .desktop-collapse{
        flex-basis: initial; 
        flex-grow: initial;
    }
}
.pesquisa{
    flex-wrap: nowrap !important;
    margin-right: .5rem;
}
Media para ordenar os elementos 
@media(max-width: 992px) {
   
    .menu{
        display: flex;
        flex-direction: row;
    }
    .logo{
        order: 1;
    }
    .pesquisa{
        order: 2;
    }
    .hamburguer{
        order: 3;
    }
}
Altera o logo no desktop e mobile
@media (max-width: 768px){
    .logo-desktop{
        display: none;
    }
}
@media (min-width: 769px){
    .logo-mobile{
        display: none;
    } 
}
@media (max-width: 576px){
    .pesquisa-mobile{
        display: none;
    }
}
@media (max-width: 768px){
    .pesquisa input[type="search"]{
        margin-right: .5rem!important;
    }
}
.navbar{
    flex-wrap: nowrap !important;
}*/

#conteudoNavbarSuportado{
    justify-content: space-between;
}

@media(min-width:814px) and (max-width:1920px){

   .minhainfo{
       display: none;
   }


    .cabecalho .collapse:not(.show){
        display: flex !important;
    }
    .navbar-light .navbar-toggler{
        display: none;
    }
    .navbar-collapse{
        flex-basis: initial !important;
    }
    .cabecalho .navbar{
        flex-wrap: initial;
    }
    .cabecalho .navbar-nav{
        flex-direction: row;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    .cabecalho .navbar-nav .dropdown-menu{
        position: absolute;
    }

    .c-search{
        display: flex;
        flex-wrap: nowrap;
    }
        .c-search input[type='search']{
            width: 100%;
        }

        .c-search button{
            width: 100%;
            max-width: 45px;
        }
}

.has-mobile-hidden{
    display: none !important;
}

@media(min-width:536px) and (max-width:813px){

    .has-mobile-hidden{
        display: flex !important;
        flex-wrap: nowrap !important;
    }
    .has-mobile-hamburguer{
        display: none;
    }

    .minhainfo{
        display: flex;
    }
}

@media(min-width:320px) and (max-width:480px){
    .c-search{
       flex-wrap: nowrap;
    }
}