*{
    font-family: 'Libre Franklin', sans-serif;
}

a{
    text-decoration: none;
}

.cabecalho{
    background-color: #232323;
}

.espaco{
    margin-right: 30px;
}

.pesquisar{
    margin: 0 9px 0 3px;
    background-color: #05a4c4;
    color: #fff;

}

.pesquisar:hover{
   background-color:#ed3263;
}

.menuNav li a{
    color: #c5c5c5;
    cursor: pointer;
}

.menuNav li a:hover{
    color: #ed3263;
}

.dropdown-menu{
    background-color: #232323;
}

.dropdown-menu a{
    background-color: #232323;
}

.dropdown-menu a:hover{
    color: #ed3263 !important;
}

.botaocadastrar{
    background-color: #05a4c4;
    color: #fff !important;
    width: 95px;
}

.btndeslogar{
    width: 95px;
    color: #fff !important;
}

.btndeslogar:hover{
    background-color: #c5c5c5;
    border-color: #c5c5c5;
}

.botaocadastrar:hover{
    background-color:#ed3263;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(5, 164, 196, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

  }

  .navbar-toggler {
    border-color:#05a4c4;
  }


#conteudoNavbarSuportado{
    justify-content: space-between;
}

@media(min-width:832px) and (max-width:1920px){

   .minhainfo{
       display: none;
   }

    .cabecalho .collapse:not(.show){
        display: flex !important;
    }
    .navbar-light .navbar-toggler{
        display: none;
    }
    .navbar-collapse{
        flex-basis: initial !important;
    }
    .cabecalho .navbar{
        flex-wrap: initial;
    }
    .cabecalho .navbar-nav{
        flex-direction: row;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    .cabecalho .navbar-nav .dropdown-menu{
        position: absolute;
    }

    .c-search{
        display: flex;
        flex-wrap: nowrap;
    }
        .c-search input[type='search']{
            width: 100%;
        }

        .c-search button{
            width: 100%;
            max-width: 45px;
        }
}

.has-mobile-hidden{
    display: none !important;
}

@media(min-width:536px) and (max-width:831px){

    .has-mobile-hidden{
        display: flex !important;
        flex-wrap: nowrap !important;
    }

    .has-mobile-hamburguer{
        display: none;
    }

    .minhainfo{
        display: flex;
    }

    .menus{
        justify-self: start !important;

    }

    .botoeson{
        justify-content: start !important;
        margin-top: 5px !important;
    
    }

    .navmenu{
        display: flex;
        justify-content: start !important;
        flex-wrap: wrap;
        width: 60%;
        padding: 0%;
        margin: 0%
    }

    .menuNav{
        display: flex;
        flex: wrap;
    }

    .navhome{
        width: 300px;
        max-width: 100%;
    }

    .menumargin{
        margin-right: 200px;
        padding-right: 100px;
    }

    .produtosnav{
        width: 100%;
    }
}

@media(min-width:320px) and (max-width:536px){
    /* .c-search{
       flex-wrap: nowrap;
    } */
    .srcmobile{
        width:auto !important;
    }

    .c-search{
        justify-content: center;
        flex: row;
        width: auto;
    }

    .navmenu{
        display: flex;
        justify-content: start !important;
        flex-wrap: wrap;
        width: 40% !important;
        padding: 0%;
        margin: 0%
    }

      .botoeson{
        justify-content: start !important;
        margin-top: 5px !important;
    }
}