
    <!-- <div class="d-flex justify-content-end mr-5">
       
         
          <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <a class="dropdown-item" href="#">Dropdown link</a>
              <a class="dropdown-item" href="#">Dropdown link</a>
            </div>
  
        </div>
    </div> -->
<section class="d-flex justify-content-around flex-wrap my-3">
    <div class="card text-center my-4 mx-3 caixas" *ngFor="let produto of listaProdutos">
        <div class="card-body">
            <div>
                <h4>{{produto.nome}}</h4>
            </div>
            <hr>
            <div>
                <img class="img-fluid img" src="{{produto.urlImg}}" alt="">
            </div>
            <hr>
            <div>
                <span>Preço: R$ {{produto.preco}}</span>
            </div>
            <hr>
            <div>
                <span>Descricao: {{produto.descricao}}</span>
            </div>
            <hr>
            <div>
                <span>Usuario: {{produto.idUsuario.nome}}</span>
            </div>
            <hr>
            <button class="btn verMais" [routerLink]="['/produtos/detalhar', produto.codigo]">Ver mais</button>
        </div>
    </div>
    <div class="d-flex justify-content-center py-2">


        <nav aria-label="Page navigation shadow-lg">
            <button class="btn btn-outline-primary"> <- </button>
            <button class="btn btn-primary" (click)="paginar(0)">1</button>
            <button class="btn btn-primary" (click)="paginar(1)">2</button>
            <button class="btn btn-primary"(click)="paginar(2)">3</button>
            <button class="btn btn-outline-primary"(click)="paginar(3)">-></button>
          </nav>
        
        </div>


</section>
