<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="../../assets/img/bgFigureAction.jpg" alt="Primeiro Slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/img/bgFunko.jpg" alt="Segundo Slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/img/bgAcessorio.jpg" alt="Terceiro Slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
    </a>
</div>


<section class="d-flex justify-content-around flex-wrap my-3">

    <div class="d-flex justify-content-between responsivo">

        <div class="d-flex pt-3 flex-wrap filtros" action="">

            <div class="form-group d-flex justify-content-center">
                <label class="control-label mx-2">Ordenar:</label>
                <div>

                    <select name="txt_order mx-3" id="ordenarPor" size="1" class="fFiltro form-control input-sm">
                        <option value="date" selected="Data">Data</option>
                        <option value="preco">Preço</option>
                        <option value="nome">Nome</option>
                    </select>

                </div>
            </div>

            <div class="form-group d-flex justify-content-center">
                <label class="control-label mx-2">Ordem:</label>
                <div>

                    <select name="txt_order" id="ordem" size="1" class="fFiltro form-control input-sm">
                        <option value="desc" selected="">Decrescente</option>
                        <option value="asc">Crescente</option>

                    </select>

                </div>

            </div>

            <div class="form-group d-flex justify-content-center">
                <label class="control-label mx-2">Quantidade por página:</label>
                <div>

                    <select name="txt_order" size="1" id="quantidade" class="fFiltro form-control input-sm">
                        <option value="8" selected="8">8</option>
                        <option value="14">14</option>
                        <option value="20">20</option>
                        <option value="28">28</option>

                    </select>

                </div>
            </div>

            <button class="btn btn-outline-primary mx-3 mb-3" type="button" (click)="filtrarProdutos()" name="btFiltrar"
                id="filtrar" value="Filtrar">Filtrar
            </button>
        </div>

    </div>
    <div class="d-flex justify-content-end ">

        <div class="form-inline my-2 my-lg-0 d-flex justify-content-center pesquisa">
            <input class="form-control mr-sm-2 pesquisaMobile" type="search" placeholder="Pesquisar" aria-label="Search"
                [(ngModel)]="barraPesquisa">
            <button class="btn btn-outline-success" (click)="buttonPesquisar()">Pesquisar</button>
        </div>
    </div>

</section>


<section class="d-flex justify-content-around flex-wrap my-3">
    <div class="card text-center my-4 mx-3 caixas" *ngFor="let produto of listaProdutos">
        <div class="card-body">
            <div>
                <h4>{{produto.nome}}</h4>
            </div>
            <hr>
            <div>
                <img class="img-fluid img" src="{{produto.urlImg}}" alt="">
            </div>
            <hr>
            <div>
                <span>Preço: {{produto.preco | currency:"BRL" }}</span>
            </div>
            <hr>
            <div>
                <span>Usuario: {{produto.idUsuario.nome}}</span>
            </div>
            <hr>
            <div>
                <span>Publicado: {{produto.date | date: 'dd/MM/yyyy'}}
                    ás {{produto.date | date: 'HH:mm'}} </span>
            </div>
            <hr>
            <button class="btn verMais" [routerLink]="['/produtos/detalhar', produto.codigo]">Ver mais</button>
        </div>
    </div>
</section>


<div class="d-flex justify-content-center py-5">
    <nav aria-label="Page navigation shadow-lg">
        <button class="btn btn-outline-primary" (click)="paginar(0)"> -
        </button>
        <button class="btn btn-primary" *ngFor="let pagina of arrayDePaginas"
            (click)="paginar(pagina)">{{pagina}}</button>
        <button class="btn btn-outline-primary" (click)="paginar(3)"> - </button>
    </nav>

</div>

<div class="d-flex justify-content-center py-1">
    <span class="text-muted "> Página atual {{pagina}}</span>
</div>