<div class="container my-4">

    <h1 class="text-center my-3">Deletar Usuário</h1>

    <div class="row">
        <div class="col-12">
            <div class="card mb-2" style="width: 100%">
                <div class="card-body d-flex justify-content-between">
                    <h5 class="card-title text-center">{{usuario.nome}}</h5>
                    <p>|</p>
                    <p class="card-text">E-mail: {{usuario.email}}</p>
                    <div class="d-flex justify-content-between">
                        <a class="btn btn-outline-success mr-3 editar" (click)="btnNao()">Não</a>
                        <a class="btn btn-outline-danger excluir" (click)=btnSim()>Sim</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>