
.botaoNoturno {
    position: fixed;
    top: 30%;
    right: 20px;
    height: 60px;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.5s;
}
.botaoNoturno:hover {
    opacity: 1;
}

@media screen and (max-width:500px) {
    .botaoNoturno {
        height: 40px;
        top: 200px;
    }
}

body {
    transition: 0.4s;;
}