<body [ngStyle]="{'background-color': modoNoturno == true ? corBodyNoturno : 'white'}">


    <section class="d-flex justify-content-around flex-wrap pt-3 pb-3 c-filter-bar">

        <div class="d-flex justify-content-between responsivo"
            [ngStyle]="{'color': modoNoturno == true ? corFontesNoturno : 'black'}">

            <div class="d-flex flex-wrap filtros" action="">

                <div class="d-flex justify-content-center">
                    <label class="control-label">Ordenar:</label>
                    <div>

                        <select name="txt_order" id="ordenarPor" size="1" class="fFiltro form-control input-sm">
                            <option value="date" selected="Data">Data</option>
                            <option value="preco">Preço</option>
                            <option value="nome">Nome</option>
                        </select>

                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <label class="control-label">Ordem:</label>
                    <div>

                        <select name="txt_order" id="ordem" size="1" class="fFiltro form-control input-sm">
                            <option value="desc" selected="">Decrescente</option>
                            <option value="asc">Crescente</option>

                        </select>

                    </div>

                </div>

                <div class="d-flex justify-content-center">
                    <label class="control-label">Quantidade por página:</label>
                    <div>

                        <select name="txt_order" size="1" id="quantidade" class="fFiltro form-control input-sm">
                            <option value="8" selected="8">8</option>
                            <option value="14">14</option>
                            <option value="20">20</option>
                            <option value="28">28</option>

                        </select>

                    </div>
                </div>

                <button class="btn btn-outline-primary" type="button" (click)="filtrarProdutos()" name="btFiltrar"
                    id="filtrar" value="Filtrar">Filtrar
                </button>

                <!-- <button class="btn btn-dark" type="button" (click)="modoNoturnoFunction()"> Modo Nortuno</button> -->
            </div>

        </div>
        <div class="d-flex justify-content-end ">

            <div class="form-inline my-2 my-lg-0 d-flex justify-content-center pesquisa">
                <input class="form-control pesquisaMobile" type="search" placeholder="Pesquisar" aria-label="Search"
                    [(ngModel)]="barraPesquisa">
                <button class="btn btn-outline-success" (click)="buttonPesquisar()">
                    <img class="img-fluid" width="20" src="../../assets/img/busca.png" alt="Buscar">
                </button>
            </div>
        </div>

    </section>

    <h1 class="text-center my-3">Acessórios</h1>
    <section class="d-flex justify-content-around flex-wrap my-3">
        

        <div class="card text-center my-4 mx-3" *ngFor="let produto of listaProdutos"
            [class.caixasNoturno]="modoNoturno" [class.caixas]="!modoNoturno">

            <div class="card-body">
                <div>
                    <h4>{{produto.nome}}</h4>
                </div>
                <hr>

                <div class="divimg d-flex w-100 justify-content-center">
                    <img class="img-fluid img justify-content-center" src="{{produto.urlImg}}"
                        alt="{{produto.descricao}}">
                </div>

                <hr>
                <div>
                    <span>Preço: {{produto.preco | currency:"BRL" }}</span>
                </div>
                <hr>
                <!-- <div>
                    <span>Usuario: {{produto.idUsuario.nome}}</span>
                </div>
                <hr>
                <div>
                    <span>Publicado: {{produto.date | date: 'dd/MM/yyyy'}}
                        ás {{produto.date | date: 'HH:mm'}} </span>
                </div>
                <hr> -->
                <button class="btn verMais" [routerLink]="['/produtos/detalhar', produto.codigo]">Ver mais</button>
            </div>
        </div>
    </section>


    <div class="d-flex justify-content-center py-5">
        <nav aria-label="Page navigation shadow-lg">
            <button class="btn btn-outline-primary" (click)="paginar(0)"> -
            </button>
            <button class="btn btn-primary" *ngFor="let pagina of arrayDePaginas"
                (click)="paginar(pagina)">{{pagina + 1}}</button>
            <button class="btn btn-outline-primary" (click)="paginar(3)"> - </button>
        </nav>

    </div>

    <div class="d-flex justify-content-center py-1">
        <span class="text-muted "> Página atual {{pagina + 1}}</span>
    </div>
    <img src="../../assets/img/botaoNoturno.png" class="botaoNoturno" (click)="modoNoturnoFunction()"
        title="Modo noturno" alt="botão para ativar modo noturno">
</body>