*{
    font-family: 'Libre Franklin', sans-serif;
}

.c-cadastro{
    background: url(../../assets/img/bg-cadastro.jpg) center center no-repeat;
    width: 100%;
    padding: 35px 15px;
    margin: 0 !important;
    background-size: cover;
  
}

.container{
    background-color: #232323;
    border-radius: 25px;
}

.container-cadastrar{
    max-width: 500px;
}

.tamanhoinput{
    max-width: 600px;
}

.logo{
    max-width: 200px;
}

.login{
    font-size: 24px;
    color: #c5c5c5;
    margin-bottom: -5px;
    font-weight: 400;
}

label{
    margin: 0;
    color: #232323;
}

.botao{
    background-color: #05a4c4;
    color: #fff;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: 600;
}

.botao:hover{
    background-color:#ed3263;
    color: #fff;
}

.check-box{
    font-size: 14px;
}

.checkBox{
    color: #05a4c4;
    text-decoration: none;
}

.checkBox:hover{
    color: #ed3263;
}