@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');

*{
    font-family: 'Libre Franklin', sans-serif;
}

.container{
    background-color: #232323;
}

.logo{
    width: 200px;
}

label{
    margin: 0;
    color: #232323;
}

.botao{
    background-color: #05a4c4;
    color: #fff;
    border: none;
}

.botao:hover{
    background-color:#ed3263;
    color: #fff;
}

.check-box{
    font-size: 14px;
}

.checkBox{
    color: #05a4c4;
    text-decoration: none;
}

.checkBox:hover{
    color: #ed3263;
}