<div class=" container mb-5">
    <h1 class="mt-5 text-center"><img src="../../assets/img/logo-white.png" class="img-fluid logo mt-5" alt="Logo"></h1>
    <div class="mt-4 w-75 mx-auto px-3 cadastrarpai">
        <div class="text-light d-flex justify-content-center">
            <h3 class="login">Preencha os campos abaixo!</h3>
        </div>
        <div class="form-group pb-5">
            <label for="name">Nome Completo</label>
            <input type="text" class="form-control mb-3" id="nome" maxlength="80" placeholder="Nome"
                [(ngModel)]="usuario.nome">

            <label for="email">Email</label>
            <input type="email" class="form-control mb-3" id="email" maxlength="50" placeholder="Email"
                [(ngModel)]="usuario.email">

            <label for="cpf">Cpf</label>
            <input type="number" class="form-control mb-3" id="cpf" maxlength="50" placeholder="Cpf/Cnpj"
                [(ngModel)]="usuario.cpf">

            <label for="phone">Telefone</label>
            <input type="phone" class="form-control mb-3" id="tel" maxlength="13" placeholder="Telefone"
                [(ngModel)]="usuario.telefone">

            <label for="senha">Senha</label>
            <input type="password" class="form-control mb-3" id="senha" maxlength="25" placeholder="Senha"
                [(ngModel)]="usuario.senha">

            <label for="confirmaSenha">Confirmar Senha</label>
            <input type="password" class="form-control mb-4" id="confirmaSenha" maxlength="25"
                placeholder="Confirmar senha" [(ngModel)]="usuario.confirmarSenha">

            <!-- *ngIf espera uma condição True ou False da variavel -->
            <div *ngIf='alerta'>
                <div class="alert alert-danger" role="alert">
                    Senha errada Favor conferir
                </div>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="termos" id="">
                <p class="text-light check-box">Ao clicar, você estará de acordo com nossos <a class="checkBox"
                        routerLink="/termos-de-uso"> Termos
                        de Uso.</a> </p>

            </div>
            <button type="button" id="cadastrar" class="btn btn-primary btn-block botao"
                (click)="verificar()">Cadastre-se!</button>
        </div>

    </div>
</div>