.container{
    background-color: #232323;
}

.logo{
    width: 200px;
}

.botao{
    background-color: #ed3263;
    color: white;
    border: 1px solid #c4224d;
}

.botao:hover{
    background-color:#06CCAB;
    border: 1px solid #06CCAB;
    color: white;
}

.recuperarSenha{

    color: white;
    text-decoration: none;
    font-size: 14px;
   
}