<div class=" container mb-5">
    <h1 class="mt-5 text-center"><img src="../../assets/img/logo-white.png" class="img-fluid logo mt-5" alt="Logo"></h1>
    <div class="mt-5 w-50 mx-auto">
        <div class="form-group pb-5">
            <div class="mb-4 text-light d-flex justify-content-center">
                <h3>Conectar-se ao TrocaGeek</h3>
            </div>
        <input type="email" class="form-control mb-4" id="email" maxlength="50" placeholder="Email">
        <input type="password" class="form-control mb-2" id="senha" maxlength="25" placeholder="Senha">

        <div class=" mb-5 d-flex justify-content-end">
            <a class="recuperarSenha" href="#">Esqueceu sua senha? Clique aqui!</a>
        </div>

        <button type="submit" class="btn btn-primary btn-block botao">Conecte-se!</button>
        </div>
    </div>
</div>