<div class=" container mb-5">
    <h1 class="mt-5 text-center"><img src="../../assets/img/logo-white.png" class="img-fluid logo mt-5" alt="Logo"></h1>
    <div class="mt-5 w-50 mx-auto">
        <div class="form-group pb-5">
        <input type="text" class="form-control mb-4" id="name" maxlength="80" placeholder="Nome">
        <input type="email" class="form-control mb-4" id="email" maxlength="50" placeholder="Email">
        <input type="password" class="form-control mb-4" id="senha" maxlength="25" placeholder="Senha">
        <input type="password" class="form-control mb-4" id="confirmaSenha" maxlength="25" placeholder="Confirmar senha">
        <button type="submit" class="btn btn-primary btn-block botao">Conectar-se</button>
        </div>
    </div>
</div>


