*{
    font-family: 'Libre Franklin', sans-serif;
}

.imageContent img{
    width: 100%;
    height: auto;
    max-width: 450px;
}

.card-title{
    font-weight: 700;
    font-family: 'Zian', sans-serif;
    color: #232323;
}

.card-titleNoturno {
    font-weight: 700;
    font-family: 'Zian', sans-serif;
    color: #afafaf;
}

.imageContent,
.infoContent{
    flex-basis: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

@media(min-width:992px) {
    .infoContent{
        padding-top: 35px;
    }
}

@media(max-width:991px) {
    .responsive{
        flex-direction: column;
    }
    .infoContent{
        order: 2;
    }
    .equipe{
        margin-top: 0 !important;
    }
    h2, h1{
        font-size: 25px !important;
        margin-top: 0 !important;
        text-align: center !important;
    }
    .devs{
        margin-top: 0 !important;
    }
    .imageContent img{
        margin-top: 15px;
    }
}

h1, h2{
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 900;
    letter-spacing: -0.5px;
    text-transform: uppercase;
    text-align: center;
    font-size: 32px;
    text-align: left;
}

.devResponsivo{
    border: 6px solid #ed3263;
    box-sizing: border-box;
    border-radius: 15px;
}

.devResponsivo img {
   height: 150px;
   width: 150px;
   border: 4px solid gainsboro;
}

.card-header{
    padding: 1.25rem;
}

.faFacebook, .faGithubAlt, .faInstagram{
    
    color:  #05a4c4 !important;
    padding: 0, 5px;
}

.faFacebook:hover{

    color: #ed3263 !important;
}

.faGithubAlt:hover{

    color: #ed3263 !important;
}

.faInstagram:hover{

    color: #ed3263 !important;

}
@media screen and (max-width:813px) {
    .devResponsivo {
        display: flex !important;
        justify-content: center;
        flex-direction: column;
    }
}

.botaoNoturno {
    position: fixed;
    top: 30%;
    right: 20px;
    height: 50px;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.5s;
}
.botaoNoturno:hover {
    opacity: 1;
}

@media screen and (max-width:500px) {
    .botaoNoturno {
        height: 40px;
        top: 200px;
    }
}

.transition {
    transition: 0.4s;
}