*{
    font-family: 'Libre Franklin', sans-serif;
}

body {
    transition: 0.5s;
}



.botaoNoturno {
    position: fixed;
    top: 30%;
    right: 20px;
    height: 60px;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.5s;
}
.botaoNoturno:hover {
    opacity: 1;
}

.wrapper {
    display: flex;
    width: 25%;
    background-color: #F8F9FA;
  
}


.wrapperNoturno{

    display: flex;
    width: 25%;
    background-color: #343A40;

}
#sidebar {
    width: 100%;
    height: 100%;
    color: black;

}

.liwrapper{

    width: 100%;
    
    margin: none;
    height: 100%;

}

.btn-wrapper{

    padding-top: 20px !important;
    padding-bottom: 20px !important;

}


.logo{
    width: 80%;
    height: 80%;
}

a{
    text-decoration: none;
    color: #2e2e2e;
}

a:hover{
    color: #ed3263;
}

.formulario{

    width: 50%;
}

.botao{

    background-color: #05A4C4;
    border-color: #05A4C4;
}

.botao:hover{

    background-color: #ed3263;
    border-color: #ed3263;

}

@media (min-width: 768px) and (max-width: 864) {


    .card{
        border:none;
        width: 100%;
        margin: 0%;
    }
    .wrapper {
        display: flex;
        width: 0%;
        font-size: 2em;
    }

  }



@media only screen and (max-width: 768px) {
    #sidebar{
        display: none;

    }

    .alterarCadastroArea{

       

      width: 100% !important;
      max-width: none !important;
      justify-content: center;
          
    
        
    }

    .card{
        border:none;
        width: 100%;
        margin: 0%;
    }
    .wrapper {
        display: flex;
        width: 0%;
    }



  }
    
@media screen and (max-width:500px) {
    .botaoNoturno {
        height: 40px;
        top: 200px;
    }
}

  @media only screen and (max-width: 425px){

    .formulario{
        width:90%
    }
  }