<div class="container">
    <div id="input" class="jumbotron mt-3 ml-3">
        <h1>Dúvidas Frequentes</h1>

        <h2>Como vender/trocar?</h2>

        <p>Crie uma conta <a class="font-weight-bold">aqui</a>;<br>
            Cadastre seu produto <a class="font-weight-bold">aqui</a>;<br>
            Tire uma fotos bem legais do produto;<br>
            Coloque um nome no produto que tem tudo haver com ele;<br>
            Coloque uma descrição bem detalhada do produto, o máximo que puder hein.<br>
            Coloque um preço (justo) em seu produto;<br>
            Selecione se aceita venda e/ou troca;<br>
            Quando alguém clicar em “comprar/trocar” em seu produto, entre em contato com o comprador e combine
            um local para efetuar a venda.<br><br></p>


        <h2>Como comprar?</h2>

        <p> Crie uma conta <a class="font-weight-bold">aqui</a><br>
            Procure o(s) item(ns) de seu interesse e clique em comprar;<br>
            Você terá contato diretamente com o vendedor;<br>
            Aí é só combinar com ele o melhor local para se encontrarem, você paga o produto e ele te entrega ;)
            <br><br></p>

        <h2>Como trocar?</h2>

        <p> Crie uma conta <a class="font-weight-bold">aqui</a><br>
            Procure o(s) item(ns) de seu interesse caso o anunciante aceite trocar seu o produto, estará
            liberado o botão “Trocar”, só clicar nele;<br>
            Você terá contato diretamente com o vendedor;<br><br>
        </p>

        <h2>Por que só posso colocar 2 produtos gratuitamente?</h2>

        <p>Para evitarmos que lojas encham nossa loja com produtos e o seu simplesmente suma.<br> Para isso
            cobramos uma pequena taxa, que ajuda a nos manter online.<br><br></p>

        <h2>Porque nao tem como pagar pelos produtos online?</h2>

        <p> Nossa intenção é que vocês façam a venda/troca entre vocês, além do más, se colocarmos um módulo
            de pagamentos teremos um custo e teremos que repassar esse gasto para vocês, o que não queremos,
            poxa, já pagamos tantos impostos e taxas, bora simplificar :D.

            Também queremos que vocês aproveitem essa oportunidade para saírem um pouco de casa e conhecerem
            novas pessoas, daí podem surgir grandes amizades ;)<br><br></p>

        <h2>Problemas com meu Cadastro / Cadastro de produtos</h2>

        <p>Caso tenha problemas com seu cadastro ou com o cadastro de algum produto, envie um e-mail para
            <a class="font-weight-bold">trocageek@gmail.com</a>.
            Respondemos em até 48hs.<br><br></p>

        <h2>Dicas:</h2>

        <p> Marque esse encontro em lugares públicos;<br>
            Ofereça os produtos que você tem disponível, envie os link dos produtos que deseja oferecer
            para que o anunciante possa decidir, assim aumentando as chances de concluírem a troca.
            Aí é só combinar com ele o melhor local para se encontrarem, você paga o produto e ele te entrega
            ;)<br>
            Tente ir acompanhado;<br>
            Se for menor de idade, vá acompanhado com seus responsáveis;<br><br></p>

        <h2>Importante:</h2>

        <p> Faça com os outros o que não gostaria que fizessem com você, seja honesto em seus anúncios e
            negociações, se o produto tem algum defeito ou está quebrado, fala isso no anúncio e reforce o em
            suas negociações.
            Se você for denunciado, a situação será analisada e serão tomadas as devidas providências, como
            bloqueio do site ou denúncia por fraude, e não queremos isso não é?!
            Mais empatia e amor ao próximo por favor.</p>
    </div>
</div>