#duvidas{
    font-family: 'Libre Franklin', sans-serif;
    padding-bottom: 40px;
    color: #232323 !important;
    font-weight: 900;
    letter-spacing: -0.5px;
    text-transform: uppercase;
    text-align: center;
    font-size: 32px;
}

.card-header{
    background: #ed3263;
    background: -moz-linear-gradient(-45deg, #ed3263 0%, #7db9e8 100%);
    background: -webkit-linear-gradient(-45deg, #ed3263 0%,#7db9e8 100%);
    background: linear-gradient(135deg, #ed3263 0%,#7db9e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed3263', endColorstr='#7db9e8',GradientType=1 );
    padding: 15px 25px;
    border: 0;
    margin-bottom: 2px;
    font-weight: 100;
    font-family: 'Libre Franklin', sans-serif;
    margin: 10px;
    border-radius: 15px !important;
}

.card{
    border: none;
    border-radius: 15px;
    
}

.card-body a{
    color: #ed3263;
    font-weight: bold;
}

.card-header a h5{
    color: #fff;
}

.collapse{
    /* opacity:0.1; */
    background-color: #E9ECEF;
    text-decoration:none;
    border-radius: 15px;
}

a:link{
    text-decoration:none;
}

.botaoNoturno {
    position: fixed;
    top: 30%;
    right: 20px;
    height: 50px;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.5s;
}
.botaoNoturno:hover {
    opacity: 1;
}

@media screen and (max-width:500px) {
    .botaoNoturno {
        height: 40px;
        top: 200px;
    }
}

body {
    transition: 0.4s;;
}