.mb-0{
    color:#bebebe;
    text-decoration:none;
    background-color: #232323;
}

.card-header{
    background-color: #232323;
}

.collapse{
    /* opacity:0.1; */
    background-color: #E9ECEF ;
    text-decoration:none;
}





a:link{
    text-decoration:none;
}
