<body class="transition" [ngStyle]="{'background-color': modoNoturno == true ? corBodyNoturno : 'white'}">

    <div class="conteiner d-flex" [ngStyle]="{'color': modoNoturno == true ? corFonteNoturno : 'black'}">

        <div [class.wrapperNoturno]="modoNoturno" class="wrapper">

            <!-- Sidebar -->

            <nav id="sidebar">
                <div class=" pb-5">
                    <h1 class="mb-3 text-center"><img src="../../assets/img/logo-white.png" class="img-fluid logo mt-5"
                            alt="Logo">
                    </h1>
                </div>

                <ul class="list-unstyled components">

                    <li class=" w-100">
                        <button class="btn btn-wrapper justify-content-center liwrapper" [class.btn-dark]="modoNoturno"
                            [class.btn-light]="!modoNoturno" routerLink="/usuarios">Minha Área</button>
                    </li>
                    <li class="">
                        <button class="btn btn-wrapper justify-content-center liwrapper" [class.btn-dark]="modoNoturno"
                            [class.btn-light]="!modoNoturno" [routerLink]="['/usuarios/editar', idUsuario]">Alterar
                            Cadastro</button>
                    </li>
                    <li class="">
                        <button class="btn btn-wrapper justify-content-center liwrapper" [class.btn-dark]="modoNoturno"
                            [class.btn-light]="!modoNoturno"
                            [routerLink]="['/usuarios/alterarsenha', idUsuario]">Alterar Senha</button>
                    </li>
                    <li class="">
                        <button class="btn btn-wrapper justify-content-center liwrapper" [class.btn-dark]="modoNoturno"
                            [class.btn-light]="!modoNoturno" routerLink='/cadastrar-produto'>Cadastrar
                            Produtos</button>
                    </li>

                    <li class="">
                        <button class="btn btn-wrapper justify-content-center liwrapper" [class.btn-dark]="modoNoturno"
                            [class.btn-light]="!modoNoturno" routerLink='/usuarios/meusprodutos'>Meus
                            Produtos</button>
                    </li>

                    <li class="">
                        <button class="btn btn-wrapper justify-content-center liwrapper" [class.btn-dark]="modoNoturno"
                            [class.btn-light]="!modoNoturno" routerLink='/minhas-negociacoes'>Minhas
                            Negociações</button>
                    </li>

                </ul>

            </nav>

        </div>


        <div class="d-flex justify-content-center mt-5 w-100  alterarCadastroArea">

            <div class="form-group formulario pb-5">
                <div *ngIf='alertaConcluido'>
                    <div class="alert alert-success" role="alert">
                        Dados alterados com sucesso !
                    </div>
                </div>

                <h1 class="text-center my-5">Alteração de Cadastro</h1>

                <div class="my-2">
                    <small>*Campos que devem ser preenchidos obrigatóriamente !</small>
                </div>


                <label class="font-weight-bold" for="name">Alterar nome de Usuario: </label>
                <input type="text" class="form-control mb-4" id="name" [(ngModel)]="usuarioEditar.nome" maxlength="80"
                    placeholder="{{usuario.nome}}">

                <label class="font-weight-bold" for="email">Alterar e-mail atual: </label>
                <input type="email" class="form-control mb-4" id="email" [(ngModel)]="usuarioEditar.email"
                    maxlength="50" placeholder="{{usuario.email}}">

                <label class="font-weight-bold" for="email">Alterar telefone atual: </label>
                <input type="tel" class="form-control mb-4" id="tel" [(ngModel)]="usuarioEditar.telefone" maxlength="50"
                    placeholder="{{usuario.telefone}}">

                <label class="font-weight-bold" for="password">Senha*:</label>
                <input type="password" class="form-control mb-4" [(ngModel)]="usuarioEditar.senhaAntiga" id="senhaAtual"
                    maxlength="25" placeholder="Digite sua senha atual">


                <!-- *ngIf espera uma condição True ou False da variavel -->
                <div *ngIf='alerta'>
                    <div class="alert alert-danger" role="alert">
                        Senha errada Favor conferir
                    </div>
                </div>

                <button type="button" id="cadastrar" class="btn btn-primary botao"
                    (click)="alterarDados()">Salvar</button>
            </div>


        </div>
    </div>
    <div class="divBtnNoturno" *ngIf="!modoNoturno">
        <img src="../../assets/img/botao_noturno.png" class="botaoNoturno" (click)="modoNoturnoFunction()"
            title="Modo noturno" alt="botão para ativar modo noturno">
    </div>
    <div class="divBtnNoturno" *ngIf="modoNoturno">
        <img src="../../../assets/img/botao_noturno-ativo.png" class="botaoNoturno" (click)="modoNoturnoFunction()"
            title="Modo noturno" alt="botão para ativar modo noturno">
    </div>
</body>