<div class="container">
    <h1 class="text-center my-3">Usuarios cadastrados</h1>
   
    <div class="row row-cols-4 mt-4">
        <div class="col-4 card mb-4" style="width: 15rem;" *ngFor="let users of listaUsers">
            <div class="card-body">
            <div class="card-title text-center"><h4>{{users.nome}}</h4></div>
            <hr>

            <div>
               <span>ID : {{users.id}}</span>

            </div>
            <hr>
            <div>
                <span>Email: {{users.email}}</span>

            </div>
            <hr>
            <div>
                <span>Senha: {{users.senha}}</span>

            </div>
            <hr>
            <div class="d-flex justify-content-between">
                <button class="btn btn-outline-primary">Detalhar</button>
                <button class="btn btn-outline-danger">Apagar</button>
            </div>
        </div>
        </div>
</div>