<div [ngStyle]="{'background-color': modoNoturno == true ? corBodyNoturno : corBodyNaoNoturno}">
  <div class="container mt-5 mb-5 pt-5 pb-5">
    <div class="card text-center">
      <h4 class="card-header">
        Negociação
      </h4>
      <div class="card-body">
        <p class="card-text">Sabemos que está ansioso(a) para adquirir esse belo produto.
          <br>Você tem certeza que deseja adiquiri-lo? Se sim, clique no botão Negociar abaixo e veja os contatos
          do
          fornecedor ;)
        </p>
      </div>
      <div class="card-footer text-muted">
        Nome do Fornecedor: <strong>{{produto.idUsuario.nome}}</strong>
      </div>
    </div>

    <!-- Dados do Produto -->
    <!-- // <div class="container "> -->
    <div class="row border my-2 py-5 responsivo">
      <div class="d-flex flex-wrap justify-content-arround w-100 boxresponsiva">
        <div class="col-5">
          <img src="{{produto.urlImg}}" class="card-img-top img-fluid" alt="imagem do produto">
        </div>
        <div class="col-7 produto-info">
          <div>
            <div class="d-flex flex-wrap">
              <h5 class="mr-1"> Produto:</h5>
              <p id="nome"> {{produto.nome}}</p>
            </div>
            <div class="d-flex flex-wrap">
              <h5 class="mr-1"> Preço: </h5>
              <p id="preco"> {{produto.preco| currency:"BRL"}}</p>
            </div>
            <div>
              <h5 class="mr-1 descricao"> Descrição:</h5>
              <p id="descricao"> {{produto.descricao}}</p>
            </div>
            <!-- <button type="submit" class="btn btn-primary  mb-5" (click)="salvar()">Atualizar</button> -->
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-arround justify-content-end bt-space">
      <a class="btn btn-outline-success mr-3 negociar" (click)="negociar()">Negociar</a>
      <a class="btn btn-outline-danger voltar" routerLink="/home">Voltar</a>
    </div>
    <div class="divBtnNoturno" *ngIf="!modoNoturno">
      <img src="../../assets/img/botao_noturno.png" class="botaoNoturno" (click)="modoNoturnoFunction()"
        title="Modo noturno" alt="botão para ativar modo noturno">
    </div>
    <div class="divBtnNoturno" *ngIf="modoNoturno">
      <img src="../../../assets/img/botao_noturno-ativo.png" class="botaoNoturno" (click)="modoNoturnoFunction()"
        title="Modo noturno" alt="botão para ativar modo noturno">
    </div>
  </div>
</div>