*{
    font-family: 'Libre Franklin', sans-serif;
}

.container-home{
    background-color: #232323;
}


.botaoNoturno {
    position: fixed;
    top: 30%;
    right: 20px;
    height: 50px;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.5s;
}
.botaoNoturno:hover {
    opacity: 1;
}

.produtonome{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.produtonome h4{
    display: inline-table;
    font-weight: 600;
    letter-spacing: -0.5px;
}


.divimg{

    width: 200px;
    height: 200px;
    margin: 0px 0px 0px 0px !important;
}


.img{
    max-width: 200px;
    max-height: 200px;
}

.card-body{
    width: 300px;
}

    .card-body a{
        text-decoration: none;
        color: #212529;
    }

body {
    transition: 0.5s;
}

.caixas:hover{
    box-shadow: 0px 0px 15px 5px #b1b1b1;
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.caixasNoturno {
    border: none;
    box-shadow: 0px 0px 8px 3px rgb(105, 105, 105);
    transition: box-shadow 0.3s;
    background-color: #DBDEE3;
    transition: transform .35s ease;
    border-radius: 15px;
}

.caixasNoturno:hover{
    box-shadow: 0px 0px 15px 5px #464646;
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.verMais{
    background-color: #05a4c4;
    padding: 8px 35px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #fff;
    transition: color .25s ease, background .25s ease;
}

.verMais:hover{
    background-color: #ed3263;
}

.verMaisNoturno{
    background-color: #5C5099;
    padding: 8px 35px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #fff;
    transition: color .25s ease, background .25s ease;
}

.verMaisNoturno:hover{
    background-color: #2b215e;
}

.c-filter-bar{
    background-color: #232323;
    margin-top: 0 !important;
    padding-bottom: 15px;
}


.navigationPage{
    background-color: #05a4c4;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #fff;
    margin: 0 3px;
    border: 0;
    padding: 8px 15px;
    transition: color .25s ease, background .25s ease;
}

.navigationPage:hover{
    background-color: #ed3263;
}

.navigationPage img{
    max-width: 7px;
}

.paginacaoNoturno{

    background-color:  #5C5099;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #fff;
    margin: 0 3px;
    border: 0;
    padding: 8px 15px;
    transition: color .25s ease, background .25s ease;

}

.paginacaoNoturno:hover{

    background-color: #2b215e;
}

.paginacaoNoturno img{
    max-width: 7px;
}



@media(max-width:1080px){
    

    .pesquisa{
        max-width: 90% !important;
        justify-content: center !important;
    }

    .filtros-content{
        justify-content: space-around !important;
        order: 2;
    }
    .filtros-content,
    .filtros-search{
        width: 100%;
        max-width: 900px;
        padding: 5px 0;
        display: flex;
        justify-content: center !important;
    }
    .form-inline,
    .pesquisaMobile {
        width: 100%;
        flex-wrap: nowrap;
    }
    .pesquisaMobile{
        margin-left: 15px;
    }
}

@media(max-width:768px){

    .ordenartest{
      justify-content: center;
       width: 100%;
    }

    #filtrar{
        width: 200px;
        margin-top: 16px !important
    }
}

@media(min-width:460px) and (max-width:481px){

    .qntpag{
     padding-bottom: 17px !important;
     max-height: auto !important;
    
    }

    .filtros-content{
        max-height: auto !important;
        height: 81px !important;
        
    }
}

@media(min-width:460px) and (max-width:1079px){
    .filtros{
        flex-wrap: nowrap !important;
        max-width: 100%;
    }
}

@media(min-width:460px) and (max-width:768px){
    .filtros-fields{
        width: 50% !important;
        flex-direction: row;
        flex-wrap: wrap;
    }
}


#filtrar,
.btn-outline-success{
    margin: 0 15px ;
    background-color: #05a4c4;
    color: #fff !important;
    border: 0;
}
.btn-outline-selecionado{
    margin: 0 15px ;
    background-color: #232424;
    color: #fff !important;
    border: 0;
}

#filtrar:hover,
.btn-outline-success:hover{
    background-color:#ed3263;
}

.filtros{
    align-items: center;
}

.filtros label{
    display: flex;
    place-self: center;
    margin-bottom: 0;
    color:#c5c5c5;
    padding: 0 15px;
    text-transform: uppercase;
    font-size: 12px;
}

@media(max-width:600px){


    .filtros div{
        width: 100%;
        flex-direction: column;
    }
    .filtros div div{
        padding: 0 15px;
    }
    .filtros label{
        padding: 10px 0;   
    }
    .responsivo{
        order: 2;
    }
    .pesquisa{
        flex-direction: row;
        flex-wrap: nowrap;
    }
    #filtrar{
        width: 40%;
        margin-top: 40px !important;
    }
    .c-filter-bar{
        padding: 25px 0 45px !important;
    }
    .btn-outline-success{
        margin: 0 12px;
    }
}

@media screen and (max-width:500px) {
   
    .divBtnNoturno{

        height: 40px;
        top:200px;
    }
    
    .botaoNoturno {
        height: 40px;
        top: 200px;
    }
}