<div class="conteiner d-flex">

    <div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar">
            <div class="sidebar-header pb-5">
                <h3>Minhas Informações</h3>
            </div>

            <ul class="list-unstyled components">

                <li class="my-3">
                    <a [routerLink]="['/usuarios/editar',usuario.id]">Alterar Cadastro</a>
                </li>
                <li class="my-3">
                    <a routerLink="">Minhas Negociações</a>
                </li>
                <li class="my-3">
                    <a routerLink="/usuarios/meusprodutos">Meus Produtos</a>
                </li>

            </ul>

        </nav>

    </div>

    <div class="card w-100">
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <h1 class="">Olá {{usuario.nome}} </h1>
            </div>


            <div class="card-body">
                <h3 class="py-4">Informações de Cadastro</h3>
                <div class="my-3 d-flex flex-wrap">
                    <label class="mr-3" for="">Nome Completo:</label>
                    <p class="ml-1" type="text">{{usuario.nome}}</p>

                    <label class="mr-3 ml-5" for="">CPF:</label>
                    <p class=" mx-3" type="text">{{usuario.cpf}}</p>
                </div>



                <div class="my-3 d-flex flex-wrap">
                    <div class="d-flex ">
                        <label class="mr-3" for="">Cidade:</label>
                        <p class="ml-1" type="text">{{usuario.cpf}}</p>
                    </div>

                    <div class="d-flex ">
                        <label class="mr-3 ml-5" for="">Estado:</label>
                        <p class="ml-1" type="text">{{usuario.cpf}}</p>
                    </div>
                </div>



                <div class="my-3 d-flex flex-wrap">
                    <label class="mr-3" for="">Telefone:</label>
                    <p class="ml-1" type="text">{{usuario.telefone}}</p>

                    <label class="mr-3 ml-5" for="">E-mail:</label>
                    <p class="ml-1" type="text"> {{usuario.email}}</p>
                </div>
                <hr>
                <div>
                    <button class="btn verMais btn-success mr-3" [routerLink]="['/usuarios/meusprodutos']">Meus
                        Produtos</button>
                    <button class="btn verMais btn-success" [routerLink]="['/cadastrar-produto']">Cadastrar
                        Produto</button>
                </div>
            </div>
        </div>

    </div>
</div>