@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');

*{
    font-family: 'Libre Franklin', sans-serif;
}

.wrapper {
    display: flex;
    width: 20%;
}

#sidebar {
    width: 250px;
    height: 100%;
    background: #232323;
    color: #c5c5c5;
}

a{
    text-decoration: none;
    color: #c5c5c5;
}

a:hover{
    color: #ed3263;
}

.informacoes{
    
}

label{
    
    border-radius: 3px;
}

@media (min-width: 768px) and (max-width: 864) {


    .card{
        border:none;
        width: 100%;
        margin: 0%;
    }
    .wrapper {
        display: flex;
        width: 0%;
        font-size: 2em;
    }

  }



@media only screen and (max-width: 768px) {
    #sidebar{
        display: none;

    }

    .card{
        border:none;
        width: 100%;
        margin: 0%;
    }
    .wrapper {
        display: flex;
        width: 0%;
    }

  }