.editar{
border-color:#06CCAB;
}

.editar:hover{
    background-color: #06CCAB;
    border-color:#06CCAB;
    color:#fff;
}

.excluir{
    border-color:#ed3263;

}

.excluir:hover{
    background-color: #ed3263;
    border-color:#ed3263;
    color:#fff;
}
