<div class="conteiner d-flex">

    <div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Bootstrap Sidebar</h3>
            </div>

            <ul class="list-unstyled components">
                <p>Dummy Heading</p>

                <li>
                    <a href="#">Alterar Cadastro</a>
                </li>
                <li>
                    <a href="#pageSubmenu">Minhas Negociações</a>
                </li>
                <li>
                    <a href="#">Meus Produtos</a>
                </li>
            </ul>

        </nav>
        <!-- Page Content -->

    </div>


    <div class="card w-100">
        <div class="card-body">
            <div class="">
                <h1 class="">Olá {{nomeUsuario}}</h1>
            </div>


            <div class="card-body">

                <div class="my-3">
                    <label for="">Nome Completo: </label>
                    <input class=" mx-3" type="text">
                </div>

                <div class="my-3">
                    <label for="">Endereço</label>
                    <input class=" mx-3" type="text">
                </div>

                <div class="my-3">
                    <label for="">Telefone</label>
                    <input class=" mx-3" type="text">
                </div>

                <div class="my-3">
                    <label for="">Email</label>
                    <input class=" mx-3" type="text">
                </div>
            </div>
        </div>

    </div>
</div>