@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');

*{
    font-family: 'Libre Franklin', sans-serif;
}

body {
    transition: 0.5s;
}

.wrapper {
    display: flex;
    width: 25%;
   
  
}

.botaoNoturno {
    position: fixed;
    top: 30%;
    right: 20px;
    height: 60px;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.5s;
}
.botaoNoturno:hover {
    opacity: 1;
}

#sidebar {
    width: 100%;
    height: 100%;
    color: black;

}

.liwrapper{

    width: 100%;
    
    margin: none;
    height: 100%;
}

.btn-wrapper{

    padding-top: 20px !important;
    padding-bottom: 20px !important;

}


.logo{
    width: 80%;
    height: 80%;
}

a{
    text-decoration: none;
    color: #c5c5c5;
}

a:hover{
    color: #ed3263;
}

.formulario{

    width: 50%;
}


.verMais{

    background-color: #05A4C4;
    border-color: #05A4C4;
    max-width: 200px;
}

.verMais:hover{

    background-color: #ed3263;
    border-color: #ed3263;
}

@media(max-width: 1304){
    
    .btndeletar{
        margin-bottom: 32px !important;
       
    }

}

@media(max-width: 970){

   .sidebar {
        display: flex;
        width: 20%;
      
    }


}

@media (min-width: 768px) and (max-width: 872) {


    .card{
        border:none;
        width: 100%;
        margin: 0%;
    }
    .wrapper {
        display: flex;
        width: 0%;
        font-size: 2em;
    }

    .botoesCadastrar{
        margin-right: 0px;
        margin-top: 16px !important;
       
    }

  }



  @media only screen and (max-width: 768px) {
    #sidebar{
        display: none;

    }

    .formulario{
        width:90%
    }

    .alterarCadastroArea{

       

      width: 100% !important;
      max-width: none !important;
      justify-content: center;
          
    
        
    }

    .card{
        border:none;
        width: 100%;
        margin: 0%;
    }
    .wrapper {
        display: flex;
        width: 0%;
    }



  }


  @media only screen and (max-width: 579px){

    .formulario{
        width:90%
    }

  }

  
@media screen and (max-width:500px) {
    .botaoNoturno {
        height: 40px;
    }
}

  @media only screen and (max-width: 384px){


    .botoes{

        margin-bottom: 16px !important;
    }

    

  }